@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

/* Global Style */
/*********************************/

html{
    font-size: 10px;
    font-family: 'Montserrat' , sans-serif;
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    color: black;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
    
}
a{
    text-decoration: none;
    color: black;
}
.brand{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand span{
    color: crimson;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-title{
    font-family: 'Otomanopee One' , sans-serif;
    font-size: 8rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
.section-title span {
    color: crimson;
}
.button{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
    
}
.button:hover{
    color: white;
    background-color: crimson;
}


/* Global Style End */
/*******************************/

/* Header */
#navbar{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#navbar .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.50);
}
.header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#navbar .nav-list ul{
    list-style: none;
    position: initial;
    background-color: transparent;
    width: fit-content;
    height: auto;
    left: 100%;
    top: 0;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
}
#navbar .nav-list ul.active{
    left: 0;
}
#navbar .nav-list ul a{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#navbar .nav-list ul li:hover a{
    color: crimson;
}
#navbar .nav-list ul li{
    display: inline-block;
}
/* End of header */

/* welcome section */

#welcome-section{
    background-image: url(https://github.com/mustafa4321/My_File/blob/photos/my-image.jpg?raw=true);
    background-size: cover;
    background-position: top center;
    position: relative; 
    z-index: 1;
    
    
}
#welcome-section .welcome{
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
    width: 100%;
    right: 0;
}
#welcome-section::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    z-index: -1;
}
#welcome-section h1{
    font-family: 'Montserrat' , sans-serif;
    display: block;
    width: fit-content;
    font-size: 7rem;
    position: relative;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1s; 
    letter-spacing: 0.4rem;
}
#welcome-section h1:nth-child(1){
    animation-delay: 1.5;
}
#welcome-section h1:nth-child(2){
    animation-delay: 2.5s;
}
#welcome-section h1:nth-child(3){
    animation-delay: 3.5s;
}
/* End of welcome Section */

/*********************************/

/* Projects section */
#projects .projects{
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    flex-direction: column;
}
#projects .projects-header{
    margin-bottom: 50px;
}
#projects .project-tile .project-info{
    height: 100%;
}
#projects .projets-tile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 400px;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: rgb(255, 255, 255);
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 10px;
}
#projects .project-info p{
    color: white;
    font-size: 1.5rem;
}
#projects .project-img{
    flex-basis: 50%;
    overflow: hidden;
    position: relative;
    height: 100%;
}
#projects .project-img::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
} 
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-img:hover img{
    transform: scale(1.1);
}
#projects .project-img:hover::after{
    z-index: -1;
}


/* End of Projects section */

/* About Section */

#about .about{
    flex-direction: row;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left{
    width: 250px;
    height: 360px;
    margin: 0 auto;
}
#about .col-right{
    width: 100%;
    text-align: left;
    padding: 30px;
}
#about .col-right h2{
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
    font-size: 2rem;
    line-height: 30px;
    font-weight: 600;
}
#about .col-right .button{
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-right h1{
    text-align: left;
}
/*#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 25px;
    height: 100%;
    width: 100%;
    border: 7px solid crimson;
    z-index: -1;
}*/

/* End of about section */

/* contact */
#contact .contact{
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}
#contact .contact-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-evenly;
}
#contact .contact-item{
    width: 20%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c;

}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1.6rem;
    line-height: 2rem;
    color: black;
}
#contact .contact-info a:hover{
    color: crimson;
}
#contact .contact-info {
    margin-right: 10px;
}
/* End contact */

/* Footer */
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 10px;
    
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    margin: 0 10px;
}
#footer .social-item img{
    filter: grayscale(1);
    transition: 0.8s ease filter;
}
#footer .social-item img:hover{
    filter: grayscale(0);
}
#footer p{
    color: white;
    font-size: 1.3rem;
}
/* End of footer */
/*######################################*/

/* Media Query for tablet */


/* projectc section */
@media only screen and (min-width: 1025px){
    #navbar .dropdown{
        display: none;
    }
}
@media only screen and (max-width: 1024px){
    #navbar .nav-list{
        display: none;
    }
    #projects .project-item{
        flex-direction: column;
        width: 60%; 
        margin: 20px auto; 
        border-radius: 10px; 
    }
    #projects .project-info{
        padding: 15px;
    }
    #projects .project-img{
        height: 300px;
    }
    /* End of project */

    /* welcom section */
    #welcome-section h1{
        font-size: 5rem;
    } 
    /* End of welcome section */

    /* About section */
    #about .about{
        flex-direction: column-reverse;
    }
    .section-title{
        font-size: 6rem;
    }
    #about .col-right{
        text-align: center;
    }
    /* End of About section */

    /* Contact section */
    #contact .contact-items{
        flex-direction: column;
        align-items: center;
    }
    #contact .contact-item{
        width: 40%;
        padding: 50px;
        margin: 40px;
    }
    /* End of Contact section */

    /* Footer section */
    #footer .footer{
        padding-bottom: 9px;

    }
    /* End of Footer section */
}
@media only screen and (max-width: 1492px){
     /* Contact section */
     #contact .contact-items{
        flex-direction: column;
        align-items: center;
    }
    #contact .contact-item{
        width: 40%;
        padding: 50px;
        margin: 40px;
    }
    /* End of Contact section */

}
@media only screen and (min-width: 1025px){
    #projects .project-item:nth-child(2){
        flex-direction: row-reverse;   
    }
}

/* Media Query for mobile users */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .section-title{
        font-size: 4rem;
    }  
      /* contact section */
      #projects .projects .projects-header .section-title{
          font-size: 7rem;
      }

#contact .contact-item{
    width: 80%;
    transform: scale(0.7);
    margin: 0;
    padding: 30px;
}
#contact .contact-info h1{
    font-size: 3rem;
}
#contact .contact-info h2 {
    font-size: 1.4rem;
}
#footer h2{
    font-size: 1.1rem;
}
#footer p {
    font-size: 1rem;
}
.brand {
    font-size: 2rem;
}
#welcome-section h1{
    font-size: 3rem;
}
#about .col-right p{
    font-size: 1.5rem;
}
#projects .projects{
    transform: scale(0.6);
    padding: 0 0;
}
  }
  /*88888888888888888888888888888888888*/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(31, 30, 30, 1);
}
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(31, 30, 30, 0.50);
    min-width: 25%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(31, 30, 30, 1);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }




























/* keyframes */
@keyframes text_reveal {
    100%{
        color: white;
    }
}

/* End of keyframes*/
