@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
html{
    font-size: 10px;
    font-family: 'Montserrat' , sans-serif;
    scroll-behavior: smooth;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: black;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
.section-title span {
    color: crimson;
}
.button{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
    
}
.button:hover{
    color: white;
    background-color: crimson;
}
.brand{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand span{
    color: crimson;
}

/* Header */
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.50);
}
.header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1300px;
    padding: 0 10px;

}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vh;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
}
#header .nav-list ul.active{
    left: 0;

}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;

}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 30px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
    
}
#header .nav-list ul li:hover a{
    color: crimson;

}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.7);
    margin-right: 20px;
}
#header .hamburger::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
 
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}



/* End of header */


/* welcome section */
#welcome-section{
    background-image: url(./images/3.JPG);
    background-size: cover;
    background-position: top center;
    position: relative; 
    z-index: 1;
}
#welcome-section::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    z-index: -1;
}
#welcome-section .welcome{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#welcome-section h1:nth-child(1){
    animation-delay: 1.5;
}
#welcome-section h1:nth-child(2){
    animation-delay: 2.5s;
}
#welcome-section h1:nth-child(3){
    animation: text_reveal-last 1s ease-out forwards;
    animation-delay: 3.5s;
}
#welcome-section h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1s;
}
@keyframes text_reveal {
    100%{
        color: white;
    }
}
@keyframes text_reveal-last {
    100%{
        color: crimson;
        font-size: 5rem;
      
    }
}
@keyframes hamburger_puls {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.3);
    }
    
}
/* End of welcome section */

/* services section */

#services .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: o auto;
    padding: 100px 0;
}
#services .service-top{
    max-width: 500px;
    margin: 0 auto;
}

#services .service-top p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2rem;
    letter-spacing: 0.3rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#services .service-bottom p {
    font-size: 1.2rem;
}
#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./images/service-img.jpg);
    background-size : cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 80%);
    opacity: 0.7;
    z-index: -1;
}
#services .service-item .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}
#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .service-item p{
    color: white;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
/* End of services section */

/* project section  */
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header{
    margin-bottom: 50px;
}
#projects .projets-tile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 10px;
}
#projects .project-info p{
    color: white;
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-img:hover img{
    transform: scale(1.1);
}
/* End of project section */

/* About Section */

#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left{
    width: 250px;
    height: 360px;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
}
#about .col-right .button{
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img{
    height: 117%;
    width: 112%;
    position: relative;
    border: 10px solid white;
    
}
#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 25px;
    height: 100%;
    width: 100%;
    border: 7px solid crimson;
    z-index: -1;
}
#about .col-right h1{
    text-align: left;
}
/* End of about section */

/* Contact info section */

#contact .contact{
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}
#contact .contact-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-evenly;
}
#contact .contact-item{
    width: 30%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c;

}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/* End of contact section */

/* Footer */
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    margin: 0 5px;
}
#footer .social-item img{
    filter: grayscale(1);
    transition: 0.4s ease filter;
}
#footer .social-item img:hover{
    filter: grayscale(0);
}
#footer p{
    color: white;
    font-size: 1.3rem;
}
/* End of footer */

/* Media Query for tablet */
@media only screen and (min-width: 768px){
    .button{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }

/* welcome */
#welcome-section h1{
    font-size: 7rem;

}
/* End of welcome */

/* Services */
#services .service-bottom .service-item{
    flex-basis: 45%;
    margin: 1.5%;
}

/* End of service */

/* project */
#projects .project-item{
    flex-direction: row;
}
#projects .project-item:nth-child(2){
    flex-direction: row-reverse;
}
#projects .project-item{
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
#projects .project-tile .project-info{
    height: 100%;
}
#projects .project-tile .project-img{
    height: 100%;
}
/* End of project */

/* About */
#about .about{
    flex-direction: row;
}
#about .col-left{
    margin-right: 30px;
    margin-left: 20px;
}
#about .col-right{
    text-align: left;
    padding: 30px;
}
#about .col-right h1{
    text-align: left;
}
/* End about */

/* contact */
#contact .contact{
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}
#contact .contact-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 20px;
}
#contact .contact-item{
    margin: 20px;
    flex-direction: row;
}
#contact .contact-item .icon{
    height: 100%;
    width: 100%;
}
#contact .contact-item .icon img{
    object-fit: contain;
}
#contact .contact-item .contact-info{
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

/* End contact */
}

/* End of Media Query for tablet */

/*Media Query for Desktop */
@media only screen and (min-width:1200px){
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul a::after{
        display: none;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.8rem;

    }
    #services .service-bottom  .service-item{
        flex-basis: 22%;
        margin: 1.5%;
    }

}


/* End of Media Query for Desktop */
